---
---

@font-face {
    font-family: BebasNeue;
    src: url('BebasNeue.otf') format('opentype');
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,900);

$bg-color:              #232323;
$primary-color:         #FAFAFA;
$secondary-color:       #FF5252;
$move_name-color:       #232323;
$move_input-color:      $primary-color;
$button-bg-color:       #212121; /* important */
$button-color:          #fff; /* important */
$move_note-color:       rgba($primary-color, .5);
$primary-font:          'BebasNeue', sans-serif;
$secondary-font:        'Lato', sans-serif;
$move-spacing:          .2rem;
$separator-color:       rgba($primary-color, .2);

/* -------------------- Global */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background-color: $bg-color;
    color:            $primary-color;
    font-family:      $primary-font;
    font-size:        48px;
    letter-spacing:   .05rem;
    margin:           0;
    min-width:        320px;
    overflow-x:       hidden;
}

@media
    (max-width: 640px) {
        html, body {
            font-size: 7.5vw;
        }
}

@media
    (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        html, body {
            font-size: 5vw;
        }
}

a,
a:visited {
    color:           $secondary-color;
    text-decoration: none;
}

a:hover {
    color:           $primary-color;
    text-decoration: none;
}

/* -------------------- Header */
.title {
    margin: .75rem .5rem 0 .5rem;
}

.home {
    font-size:  .75rem;
    margin:     .5rem;
    text-align: right;
}

/* -------------------- Content */
.main-content {
    margin-bottom: .5rem;
}

.item {
    color:  rgba($secondary-color, .25);
    margin: 0 .5rem;
}

a.item,
a:visited.item {
    color: $secondary-color;
}

a:hover.item {
    color: $primary-color;
}

.item-wip {
    color:  rgba($secondary-color, .25);
    margin: 0 .5rem;
}

a:hover.item-wip {
    color: rgba($primary-color, .25);
}

.item-aka {
    font-size:      .75rem;
    letter-spacing: 0.025rem;
    margin:         0 .25rem;
}

.chara_title {
    font-size:  2rem;
    margin:     0 .5rem;
    text-align: center;
}

.from_game {
    font-size:      .75rem;
    letter-spacing: 0.05rem;
    margin:         -.5rem .5rem 1rem .5rem;
    text-align:     center;
}

.move_cat, .move {
    margin: 0 .5rem;
}

.move_cat {
    background-color: rgba($primary-color, .35);
    color:            rgba($primary-color, .65);
    font-size:        .6rem;
    letter-spacing:   .2rem;
    margin:           .5rem .5rem 0 .5rem;
    padding:          .1rem .25rem .1rem .25rem;
}

p.move {
    line-height:   65%;
    margin-bottom: 0;
}

.move {
    background-color: rgba($primary-color, .25);
    border-top:       1px dotted $separator-color;
    clear:            both;
    padding:          $move-spacing;
}

.move_cat + .move {
    border-top: none;
}

.move_name {
    color:       $move_name-color;
    font-family: $secondary-font;
    font-size:   .6rem;
    font-weight: 900;
    letter-spacing: 0;
}

.move_input {
    color:          $move_input-color;
    font-family:    $secondary-font;
    font-size:      .5rem;
    font-weight:    400;
    letter-spacing: 0;
    word-spacing:   .05rem;
}

.move_note {
    color:          $move_note-color;
    display:        block;
    font-family:    $secondary-font;
    font-size:      .4rem;
    font-style:     italic;
    letter-spacing: 0;
    line-height:    .5rem;
    margin-top:     .1rem;
    overflow-y:     hidden;
}

.move_comment {
    color:          $move_note-color;
    font-family:    $secondary-font;
    font-size:      .4rem;
    letter-spacing: 0;
    margin:         .5rem .5rem 1rem .5rem;
    text-align: center;
}

/* -------------------- Footer */
.main-footer {
    font-family:    $secondary-font;
    font-size:      .5rem;
    letter-spacing: 0;
}

.footer-bottom-right {
    bottom:   0;
    margin:   0 .5rem .5rem .5rem;
    position: fixed;
    right:    0;
}

/* -------------------- Replace Input */
.move_input img {
    outline:        1px solid transparent;
    vertical-align: middle;
    width:          .75rem;
}

.button {
    background:            $button-bg-color;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;
    box-shadow:            0 .1rem 0 rgba(0, 0, 0, .25);
    color:                 $button-color;
    display:               inline-block;
    font-size:             .3rem;
    line-height:           .75rem;
    margin:                .075rem;
    text-align:            center;
    vertical-align:        middle;
    width:                 .75rem;
}

.flow {
    margin-left: -.125rem;
}

@mixin transform($angle) {
    -webkit-transform: rotate($angle);
    -moz-transform:    rotate($angle);
    -ms-transform:     rotate($angle);
    -o-transform:      rotate($angle);
    transform:         rotate($angle);
}

.rotate9 { @include transform(45deg); }
.rotate6 { @include transform(90deg); }
.rotate3 { @include transform(135deg); }
.rotate2 { @include transform(180deg); }
.rotate1 { @include transform(225deg); }
.rotate4 { @include transform(270deg); }
.rotate7 { @include transform(315deg); }
