---
---

@font-face {
    font-family: BebasNeue;
    src: url('BebasNeue.otf') format('opentype');
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,900);

$bg-color:              #232323;
$primary-color:         #FAFAFA;
$secondary-color:       #FF5252;
$move_name-color:       rgba($primary-color, .8);
$move_input-color:      $primary-color;
$button-bg-color:       #212121; /* important */
$button-color:          #fff; /* important */
$move_note-color:       rgba($primary-color, .5);
$primary-font:          'BebasNeue', sans-serif;
$secondary-font:        'Lato', 'Arial', 'Helvetica', sans-serif;
$move-spacing:          .2rem;
$separator-color:       rgba($bg-color, 1);

/* -------------------- Global */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background-color: $bg-color;
    color:            $primary-color;
    font-family:      $primary-font;
    font-size:        48px;
    letter-spacing:   .05rem;
    margin:           0;
    min-width:        320px;
    overflow-x:       hidden;
}

@media (max-width: 680px) {
    html, body {
        font-size: 7.5vw;
    }
}

a,
a:visited {
    color:           $secondary-color;
    text-decoration: none;
}

a:hover {
    color:           $primary-color;
    text-decoration: none;
}

/* -------------------- Header */
.title {
    margin: .75rem .5rem 0 .5rem;
}

.home {
    font-size:  .75rem;
    margin:     .5rem;
    text-align: right;
}

/* -------------------- Content */
.main-content {
}

.item {
    color:  rgba($secondary-color, .25);
    margin: 0 .5rem;
}

a.item,
a:visited.item {
    color: $secondary-color;
}

a:hover.item {
    color: $primary-color;
}

.item-aka {
    font-size:      .75rem;
    letter-spacing: 0.025rem;
    margin:         0 .25rem;
}

.warning {
    font-family:    $secondary-font;
    font-size:      .4rem;
    letter-spacing: 0;
    margin:         .5rem;
    text-align:     left;
}

.chara_title {
    font-size: 2rem;
    margin:    0 .5rem;
}

.from_game {
    font-size:      .5rem;
    letter-spacing: 0.025rem;
    margin:         -.4rem .5rem 0 .5rem;
}

.move_cat, .move {
    margin: 0 .5rem;
}

.move_cat {
    color:          rgba($primary-color, .5);
    font-size:      .45rem;
    letter-spacing: .2rem;
    margin:         (.75rem + $move-spacing) .5rem 0rem .5rem;
    position:       relative;
    text-align:     center;
}

@media (max-width: 680px) {
    .move_cat {
        margin-right: 0rem;
        text-align:   right;
    }
}

.move_cat:before {
    border-top: 0 dotted $separator-color;
    content:    "";
    display:    block;
    height:     1px;
    position:   absolute;
    top:        50%;
    width:      100%;
    z-index:    1;
}

.move_cat span {
    background-color: $bg-color;
    padding:          0 .35rem;
    position:         relative;
    z-index:          5;
}

p.move {
    line-height:   75%;
    margin-bottom: 0;
}

.move {
    background-color: rgba(#fff, .2);
    border-top:       1px dotted $separator-color;
    clear:            both;
    padding:          $move-spacing;
}

.move_cat + .move {
    border-top: none;
    margin-top: $move-spacing;
}

.move_name {
    color:     $move_name-color;
    font-size: .75rem;
}

.move_input {
    color:          $move_input-color;
    font-family:    $secondary-font;
    font-size:      .5rem;
    font-weight:    400;
    letter-spacing: 0;
    word-spacing:   .05rem;
}

.move_note {
    color:          $move_note-color;
    display:        block;
    font-family:    $secondary-font;
    font-size:      .4rem;
    font-style:     italic;
    letter-spacing: 0;
    line-height:    .5rem;
    margin-top:     .1rem;
    overflow-y:     hidden;
}

.move_comment {
    color:          $move_note-color;
    font-family:    $secondary-font;
    font-size:      .4rem;
    letter-spacing: 0;
    margin:         .5rem .5rem 1rem .5rem;
    text-align: center;
}

/* ------------------------ Ad */
#adsblock {
    background-color: rgba(#fff, .2);
    margin: 1rem 0;
    padding: .25rem;
}

/* -------------------- Footer */
.main-footer {
    margin: 1rem .5rem .5rem .5rem;
}

.footer-content {
    display:        none;
    font-family:    $secondary-font;
    font-size:      .5rem;
    letter-spacing: 0;
    margin-bottom:  1rem;
    text-align:     left;
}

.footer-nav {
    text-align: center;
    font-size:  .6rem;
}

.button-toggle {
    background-color: $bg-color;
    border:           none;
    color:            $secondary-color;
    cursor:           pointer;
    font-family:      $primary-font;
    font-size:        .6rem;
    outline:          none;
}

.button-toggle:hover {
    color: $primary-color;
}

/* -------------------- Replace Input */
.move_input img {
    outline:        1px solid transparent;
    vertical-align: middle;
    width:          .75rem;
}

.button {
    background:            $button-bg-color;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;
    box-shadow:            0 .1rem 0 rgba(0, 0, 0, .25);
    color:                 $button-color;
    display:               inline-block;
    font-size:             .3rem;
    line-height:           .75rem;
    margin:                .075rem;
    text-align:            center;
    vertical-align:        middle;
    width:                 .75rem;
}

.flow {
    margin-left: -.125rem;
}

@mixin transform($angle) {
    -webkit-transform: rotate($angle);
    -moz-transform:    rotate($angle);
    -ms-transform:     rotate($angle);
    -o-transform:      rotate($angle);
    transform:         rotate($angle);
}

.rotate9 { @include transform(45deg); }
.rotate6 { @include transform(90deg); }
.rotate3 { @include transform(135deg); }
.rotate2 { @include transform(180deg); }
.rotate1 { @include transform(225deg); }
.rotate4 { @include transform(270deg); }
.rotate7 { @include transform(315deg); }
