@font-face {
  font-family: BebasNeue;
  src: url('BebasNeue.otf') format('opentype');
}

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

/* -------------------- Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #ff4c44;
  color: #fff;
  font-family: 'BebasNeue', sans-serif;
  font-size: 54px;
  letter-spacing: .05rem;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

@media (max-width: 680px) {
  html, body {
    font-size: 8vw;
  }
}

a,
a:visited {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: none;
}

/* -------------------- Header */
.title {
  margin: .75rem .5rem 0 .5rem;
}

.home {
  font-size: .75rem;
  margin: .5rem;
  text-align: right;
}

/* -------------------- Content */
.main-content {

}

.item {
  margin: 0 .5rem;
}

.todo {
  color: rgba(0, 0, 0, 0.25);
}

.item-aka {
  font-size: .75rem;
  letter-spacing: 0.025rem;
  margin: 0 .25rem;
}

.warning {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Oswald', sans-serif;
  font-size: .4rem;
  font-weight: 300;
  letter-spacing: 0;
  margin: .5rem;
  text-align: left;
}

.chara_title {
  font-size: 2rem;
  margin: 0 .5rem;
}

.from_game {
  font-size: .5rem;
  letter-spacing: 0.025rem;
  margin: -.4rem .5rem 0 .5rem;
}

.move_cat, .move {
  margin: 0 .5rem;
}

.move_cat {
  color: rgba(255, 255, 255, 0.5);
  font-size: .5rem;
  letter-spacing: .25rem;
  margin: 1.5rem .5rem .5rem .5rem;
  position: relative;
  text-align: center;
}

.move_cat:before {
  border-top: 1px dotted rgba(255, 255, 255, 0.5);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.move_cat span {
 background-color: #ff4c44;
 padding: 0 .35rem;
 position: relative;
 z-index: 5;
}

p.move {
  line-height: 75%;
  margin-bottom: .5rem;
}

.move_name {
  color: #fff;
  font-size: .75rem;
}

.move_input {
  color: #222;
  font-family: 'Oswald', sans-serif;
  font-size: .5rem;
  font-weight: 700;
  letter-spacing: 0;
}

.move_note {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: .4rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: -.01rem;
  overflow-y: hidden;
}

.move_comment {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Oswald', sans-serif;
  font-size: .4rem;
  letter-spacing: 0;
  margin: 0 .5rem 1rem .5rem;
}

/* -------------------- Footer */
.main-footer {
  margin: 1rem .5rem .5rem .5rem;
}

.footer-content {
  color: rgba(255, 255, 255, .5);
  display: none;
  font-family: 'Oswald', sans-serif;
  font-size: .5rem;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 1rem;
  text-align: left;
}

#donation-content form {
  text-align: center;
}

.footer-nav {
  text-align: center;
  font-size: .6rem;
}

.button-toggle {
  background-color: #ff4c44;
  border: none;
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  font-family: 'BebasNeue', sans-serif;
  font-size: .6rem;
  outline: none;
}

.button-toggle:hover {
  color: #111;
}

/* -------------------- Replace Input */
.move_input img {
  outline: 1px solid transparent;
  vertical-align: middle;
  width: .75rem;
}

.button {
  background: #222;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 .1rem 0 rgba(0, 0, 0, .25);
  color: #fff;
  display: inline-block;
  font-size: .3rem;
  line-height: .75rem;
  margin: .075rem;
  text-align: center;
  vertical-align: middle;
  width: .75rem;
}

.flow {
  margin-left: -.125rem;
}

.rotate9 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate6 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate3 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rotate2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate1 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.rotate4 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rotate7 {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
