---
---

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: BebasNeue;
    src: url('BebasNeue.otf') format('opentype');
}

$bg-color:              #212121;
$primary-color:         #fff;
$secondary-color:       #ff5252;
$move-background-color: #ff5252;
$move_name-color:       #fff;
$move_input-color:      #212121;
$move_note-color:       #fff;
$primary-font:          'Montserrat', sans-serif;
$secondary-font:        'BebasNeue', sans-serif;
$separator-color:       rgba(0, 0, 0, .5);

/* -------------------- Global */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background-color: $bg-color;
    color:            $primary-color;
    font-family:      $primary-font;
    font-size:        48px;
    line-height:      100%;
    margin:           0;
    min-width:        320px;
    overflow-x:       hidden;
}

@media
    (max-width: 640px) {
        html, body {
            font-size: 7.5vw;
        }
}

@media
    (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        html, body {
            font-size: 5vw;
        }
}

a,
a:visited {
    color:           $secondary-color;
    text-decoration: none;
}

a:hover {
    color:           $primary-color;
    text-decoration: none;
}

/* -------------------- Header */
.title {
    font-family:    $secondary-font;
    letter-spacing: .05rem;
    margin:         .75rem .5rem 0 .5rem;
}

.home {
    font-family:    $secondary-font;
    font-size:      .75rem;
    letter-spacing: .05rem;
    margin:         .5rem;
    text-align:     right;
}

/* -------------------- Content */
.main-content {
    margin-bottom: .5rem;
}

.item {
    color:          rgba($secondary-color, .25); /* for now, parentheses only */
    font-family:    $secondary-font;
    letter-spacing: .05rem;
    margin:         0 .5rem;
}

a.item,
a:visited.item {
    color: $secondary-color;
}

a:hover.item {
    color: $primary-color;
}

a.item-wip,
a:visited.item-wip {
    color: rgba($secondary-color, .25);
}

a:hover.item-wip {
    color: rgba($primary-color, .25);
}

.item-aka {
    font-size:      .75rem;
    letter-spacing: 0.025rem;
    margin:         0 .25rem;
}

.chara_title {
    font-family:    $secondary-font;
    font-size:      2rem;
    letter-spacing: .05rem;
    margin:         0 .5rem;
    padding:        .5rem 0 0 0;
    text-align:     center;
}

.from_game {
    font-family:    $secondary-font;
    font-size:      .75rem;
    letter-spacing: .05rem;
    margin:         .1rem .5rem 1rem .5rem;
    text-align:     center;
}

.move_cat, .move {
    margin: 0 .5rem;
}

.move_cat {
    background-color: $primary-color;
    color:            $bg-color;
    font-family:      $secondary-font;
    font-size:        .6rem;
    letter-spacing:   .1rem;
    margin:           .5rem .5rem 0 .5rem;
    padding:          0 .25rem;
}

p.move {
    line-height:   50%;
    margin-bottom: 0;
}

.move {
    background-color: $move-background-color;
    border-top:       1px dotted $separator-color;
    padding:          .1rem .2rem;
}

.move_cat + .move {
    border-top: none;
}

.move_name {
    color:       $move_name-color;
    font-size:   .5rem;
    font-weight: 700;
}

.move_input {
    color:        $move_input-color;
    font-size:    .4rem;
    font-weight:  700;
    word-spacing: .025rem;
}

.move_note {
    color:      $move_note-color;
    display:    block;
    font-size:  .35rem;
    font-style: italic;
    margin-top: .075rem;
}

.move_comment {
    background-color: rgba($primary-color, .25);
    color:            rgba($primary-color, .5);
    font-size:        .4rem;
    margin:           0 .5rem 0 .5rem;
    padding:          .1rem;
    text-align:       center;
}

/* -------------------- Footer */
.main-footer {
    font-size: .4rem;
}

.footer-bottom {
    margin:     1rem .5rem .25rem .5rem;
    text-align: right;
}

.footer-fixed {
    bottom:   0;
    margin:   0 .5rem .25rem .5rem;
    position: fixed;
    right:    0;
}

/* -------------------- Replace Input */
.move_input img {
    outline:        1px solid transparent;
    vertical-align: middle;
    width:          .75rem;
}

.button {
    background:            #212121; /* important */
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;
    box-shadow:            0 .1rem 0 rgba(0, 0, 0, .25);
    color:                 #fff; /* important */
    display:               inline-block;
    font-size:             .3rem;
    line-height:           .75rem;
    margin:                .075rem;
    text-align:            center;
    vertical-align:        middle;
    width:                 .75rem;
}

.flow {
    margin-left: -.125rem;
}

@mixin transform($angle) {
    -webkit-transform: rotate($angle);
    -moz-transform:    rotate($angle);
    -ms-transform:     rotate($angle);
    -o-transform:      rotate($angle);
    transform:         rotate($angle);
}

.rotate9 { @include transform(45deg); }
.rotate6 { @include transform(90deg); }
.rotate3 { @include transform(135deg); }
.rotate2 { @include transform(180deg); }
.rotate1 { @include transform(225deg); }
.rotate4 { @include transform(270deg); }
.rotate7 { @include transform(315deg); }
