---
layout: page
---

<div class="title">{{ page.title }}</div>

{% assign game = page.permalink | remove: '/' %}
{% assign gamechar = site.data[game]._characters %}

{% for char in gamechar %}
    {% assign charurl = char.name | downcase | remove:"'" | remove:"-" | remove:"." | remove:" " %}
    {% if char.status != null %}
        <a class="item-wip" href="{{ site.baseurl }}/{{ game }}/{{ charurl }}/">{{ char.name }}
        {% else %}
        <a class="item" href="{{ site.baseurl }}/{{ game }}/{{ charurl }}/">{{ char.name }}
    {% endif %}
    {% if char.aka != null %}<span class="item-aka">{{ char.aka }}</span>{% endif %}
    </a><br />

{% endfor %}
