---
layout: page
---

{% assign mainchicken = page.permalink | remove_first: '/sf5/' | remove: '/' %}
{% for chara in site.data.sf5[mainchicken] %}

  <div class="chara_title">{{ chara.character }}</div>
  <div class="from_game"><a href="../">Street Fighter V</a></div>

  <div class="move_cat"><span>Special Move</span></div>
  {% for special in chara.special_move %}
  <p class="move">
    <span class="move_name">{{ special.name }}</span><br />
    <span class="move_input">{{ special.input }}</span><br />
    <span class="move_note">{{ special.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

  <div class="move_cat"><span>Unique Attack</span></div>
  {% for unique in chara.unique_attack %}
  <p class="move">
    <span class="move_name">{{ unique.name }}</span><br />
    <span class="move_input">{{ unique.input }}</span><br />
    <span class="move_note">{{ unique.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

  <div class="move_cat"><span>V-System</span></div>
  {% for vsystem in chara.vsystem %}
  <p class="move">
    <span class="move_name">{{ vsystem.name }}</span><br />
    <span class="move_input">{{ vsystem.input }}</span><br />
    <span class="move_note">{{ vsystem.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

  <div class="move_cat"><span>Critical Art</span></div>
  {% for critical in chara.critical_art %}
  <p class="move">
    <span class="move_name">{{ critical.name }}</span><br />
    <span class="move_input">{{ critical.input }}</span><br />
    <span class="move_note">{{ critical.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

  <div class="move_cat"><span>Normal Throw</span></div>
  {% for throw in chara.normal_throw %}
  <p class="move">
    <span class="move_name">{{ throw.name }}</span><br />
    <span class="move_input">{{ throw.input }}</span><br />
    <span class="move_note">{{ throw.note | join: ' &middot; ' }}</span>
  </p>
  {% endfor %}

{% endfor %}
